<div class="container">
  <div class="row custom-wrapper">
    <div class="col-md-12">
            <!-- Form Group STARTS-->
           <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="group-gap">


                <!-- LABEL OF username -->
                <label [ngClass]="{'error': isLoggedIn && myForm.username.errors}">
                  Username</label>

                <div class="mb-3">
                  <!-- User input-->
                  <input 
                  type="text" 
                  class="form-control" 
                  formControlName="username" 
                  name="username" required
                  [ngClass]="{'error': isLoggedIn && myForm.username.errors}"
                  />
                  
                  <!-- Error Blocks -->
                  <div *ngIf="isLoggedIn && myForm.username.errors" class="alert alert-danger">
                    <div *ngIf="myForm.username.errors.required">Username is required</div>
                  </div>

                </div>

              </div>
                <!-- Lebel of Password-->
                <label [ngClass]="{ 'error' : isLoggedIn && myForm.password.errors }">Password</label>
                
                <div class="md-3">

                  <!-- User Input -->
                  <input 
                  type="password" 
                  class="form-control" 
                  formControlName="password" 
                  name="password" required
                  [ngClass]="{ 'error' : isLoggedIn && myForm.password.errors }"
                  />

                  <!-- Error Blocks-->
                  <div *ngIf="isLoggedIn && myForm.password.errors" class="alert alert-danger">
                    <div *ngIf="myForm.password.errors.required"> Password is Required </div>
                  </div>
                </div> 
  
              <div class="form-group">
                  <button type="submit" class="btn btn-primary"> Login </button>
                  <span style="padding-left: 15px"> New? <a routerLink="'/sign-up'">SIGN UP</a></span>
              </div>

            </form>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>