<div dir="rtl">
  <button mat-mini-fab [mat-dialog-close]="true">
      <mat-icon class="close-icon">close</mat-icon>
  </button>
</div>

<div fxLayout="column" fxLayoutAlign="space-around center">
  <h2 mat-dialog-title >
    {{currentDialog.title}}
  </h2>

  <mat-divider></mat-divider>
  
  <p> 
    {{currentDialog.message}} 
  </p>
</div>

<form [formGroup]="form" fxLayout="column" 
      fxLayoutAlign="space-around stretch" 
      fxLayoutGap="10px" 
      (ngSubmit)="onSubmit(dialog)">

  <mat-form-field appearance="outline" *ngIf="form.contains('username')" @inflate>
    <input matInput
           formControlName="username" 
           placeholder="Username">
    <mat-error *ngIf="form.controls.username.errors?.required">
      Username is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" *ngIf="form.contains('mail')" @inflate>
    <input matInput 
           formControlName="mail" 
           placeholder="Email">
    <mat-error *ngIf="form.controls.mail.errors?.required">
      Email is required
    </mat-error>

    <mat-error *ngIf="form.controls.mail.errors?.email">
      Email seems not right
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" *ngIf="form.contains('password')" @inflate>
    <input matInput 
           [type]="hidePassword ? 'password' : 'text'" 
           formControlName="password"
           placeholder="Password">
    
    <mat-icon matSuffix (click)="hidePassword = !hidePassword">
      {{ hidePassword ? 'visibility_off' : 'visibility'}}
    </mat-icon>
    <mat-error *ngIf="form.controls.password.errors?.required">
      Password is required
    </mat-error>
    
    <mat-hint align="end"
              class = "dialog-link"
              (click)="switchDialog('forgotPassword')"
              *ngIf="dialog == 'login'">
              Forgot password?
    </mat-hint>
  </mat-form-field>

  <!-- NEW PASSWORD -->
  <mat-form-field appearance="outline" *ngIf="form.contains('newPassword')" @inflate>
    <input matInput 
           formControlName="newPassword"
           placeholder="New password">
    
    <mat-error *ngIf="form.controls.newPassword.errors?.required">
      New password is required
    </mat-error>
  </mat-form-field>

  <div dir="rtl" fxLayoutGap="20px">
    <button matSuffix 
    mat-raised-button 
    color="accent" 
    type="submit" 
    [disabled]="!form.valid">
    {{currentDialog.title}}
    </button>
  </div>

  <mat-progress-bar *ngIf="progress" mode="indeterminate" @inflate></mat-progress-bar>

</form>