.login-section{
    margin: 100px;
}

.login-failed{
    text-align: center;
    margin: auto;
    margin-top: 10px;
    border: 2px solid black;
    width: 65%;    
    background-color: red;
}

.login-failed-text{
    text-align: center;
    margin-top: 5px;
    font-weight: bold;    
    color: aliceblue;
}

.login{
    border-color: #d30000;
}

.close-button{
    float: right;
    top:-24px;
    right:-24px;
}
  
.close-icon {
    transition: 1s ease-in-out;
}
  
.close-icon:hover {
    transform: rotate(180deg);
}