<div class="container">
    <div class="row"><hr />
        <div class="col-md-9">
            <!-- view post tile -->
            <div class="row post" *ngIf="post">
                
                <!-- vote section -->
                <div class="col-md-1">
                    <app-vote-button [post]="post"></app-vote-button>
                </div>
                
                <!-- post + comment + sub section-->
                <div class="col-md-11" >
                
                    <!-- sub and post info -->
                    <div class="subname-username">
                        <span><a class="post-url" href="">{{post.subname}}</a></span>
                        <span> - Posted by </span>
                        <a *ngIf="post.username === null" class="username" href="">Anonymous</a>
                        <a *ngIf="post.username != null" class="username" href="">{{post.username}}</a>
                        <span> {{post.duration}} </span>
                    </div><hr />

                    <a routerLink="post.url" class="post-name">{{post.postname}}</a>
                    <div>
                        <p class="post-text" [innerHtml]="post.description"></p>
                    </div>

                    <form [formGroup]="commentForm" (ngSubmit)="postComment()">
                        <mat-form-field MatFormFieldAppearance  >
                            <textarea name="leave-comment" 
                                      matInput 
                                      placeholder="Write down your thought?" 
                                      formControlName="text" 
                                      required></textarea>
                                      <button mat-icon-button matSuffix type="submit" color="warn"><mat-icon>comment</mat-icon></button>

                        </mat-form-field>
                    </form>
                    <br>

                    <app-comment-tile [comments] ="comments"></app-comment-tile>
                
                </div>
            </div>
        </div>
    </div>
 </div>


