.subname-postname {
    display :inline;
    font-size: 15px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0.5px;
}

.postname {
        background-attachment: scroll;
        background-image: none;
        background-position: 0% 0%;
        background-repeat: repeat;
}

.username{
}

.post-text{
    /* Font & Text */
    font-family: "Noto Sans", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 21px;
    text-decoration: none solid rgb(215, 218, 220);
    text-align: start;
}



.commenter {
	/* Color & Background */
	background-attachment: scroll;
	/*background-color: rgba(0, 0, 0, 0);*/
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
}

.display-comment-text{
        /* Font & Text */
        font-family: "Noto Sans", Arial, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        letter-spacing: normal;
        line-height: 21px;
        text-align: start;
        text-indent: 0px;
        text-transform: none;
        white-space: normal;
        word-spacing: 0px;
}


.mat-focused .mat-form-field-label {
    /*change color of label
        color: azure !important;
    */
}
  
 mat-form-field-underline {
    /*change color of underline*/
    background-color: rgb(196, 204, 248) !important;
} 
  
