<div class="container">
  <div class="row">
      <hr />
      <div class="col-md-9">

          <div class="row post">
              <!-- 
                <div class="col-md-1" *ngIf = "postId">
                  <app-vote-button [post]="post"></app-vote-button>
                </div>
              -->
              <div class="col-md-11">
                
                  <span>
                      <span class="sub-text">
                          <a class="post-url" href="">{{post?.subname}}</a>
                      </span>

                      <span> . Posted
                          <span> {{post?.duration}} </span>
                          by              
                          <a class="username" href="">{{post?.username}}</a>
                      </span>
                  </span>

                  <hr />

                  <a routerLink="post.url" class="post-title">{{post?.postname}}</a>

                  <div>
                      <p class="post-text" [innerHtml]="post?.description"></p>
                      </div>
                      <div class="post-comment">
                      <form [formGroup]="commentForm" (ngSubmit)="postComment()">
                          <div class="form-group">
                          <textarea class="form-control" [formControlName]="'text'" placeholder="Your Thoughts?"></textarea>
                          </div>
                          <button type="submit" class="login float-right">Comment</button>
                      </form>
                  </div>

                  <br />
                  <br />
                  
                  <!-- Show Comments Section -->
                  <div style="margin-top: 30px;" *ngFor="let comment of comments">
                      <div class="comment">

                          <!-- Top -->
                          <div class="username">
                              <a routerLink="/user/comment.username">{{comment?.username}}</a>
                              <div class="flex-grow-1 float-right ">

                                  <div class="flex-grow-1 float-right">
                                      <div ngbDropdown class="float-right">
                                          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                              <button (click)="ReportComment()" ngbDropdownItem>Report Comment</button>
                                              <button (click)="HideComment()" ngbDropdownItem>Hide Comment</button>
                                          </div>
                                          <button class="userdetails" id="dropdownBasic1" ngbDropdownToggle></button>
                                      </div>     
                                  </div>

                              </div>
                          </div>


                          <!-- Middle -->
                          <div>
                              <p>{{comment?.duration}}</p>
                          </div>
                          <p>{{comment?.text}}</p>
                          
                      </div>


              
                  </div>

              </div>
              
          </div>

      </div>

      <div class="col-md-3">
          <app-side-bar></app-side-bar>
          <app-sub-side-bar></app-sub-side-bar>
      </div>
      
      </div>
</div>