.sub-sidebar {
    width: 300px;
    height: 230px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
  
.sub-title{
    font-weight: bold;
}

.sub-title:hover{
    opacity: 0.8;
}
