<div class="sidebar-view-sub">
    <div class="sub-titles">Subs</div>
    <hr />
    <!-- show few subs if subs < 3-->
    <span *ngFor="let sub of subs">
        <span class="subreddit-text"><a href="/view-sub/{{sub.id}}">{{sub.subname}}</a></span>
        <hr />
    </span>
    <!-- To view all the subs if displayTheAllSubs is true-->
    <div style="text-align: center" *ngIf="displayTheAllSubs">
        <!-- Router to list-sub component-->
        <a style="font-weight: bold" routerLink="/list-subs"><mat-icon>view_list</mat-icon>View All Subs</a>
    </div>
</div>