<mat-card class="sub-sidebar">
    <h2>Browser All Subs</h2>
    <mat-divider></mat-divider>
    
    
    <!-- show few subs if subs < 3-->
    <span class="sub-title" *ngFor="let sub of subs" >
        <span><a href="/view-sub/{{sub.id}}">{{sub.subname}}</a></span>
        <hr />
    </span>
        

    <!-- To view all the subs if displayTheAllSubs is true-->
    <div style="text-align: center" *ngIf="displayTheAllSubs">
        <!-- Router to list-sub component-->
        <button mat-raised-button (click)="listAll()">List All</button>
    </div>
</mat-card>