<mat-toolbar>


  <span class="toolbar-seprator"></span>

      <mat-icon>brightness_5</mat-icon>
      <mat-slide-toggle [formControl]="toggleControl" class="mr-8"></mat-slide-toggle>
      <mat-icon  [style.color]="'black'">dark_mode</mat-icon>
      
      <div *ngIf="isLoggedIn; else guest">
        <button mat-icon-button [matMenuTriggerFor]="userMenu" #menuTrigger="matMenuTrigger">
          <mat-icon>message</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu">
          <button mat-menu-item  (click)="toUserProfile()"><mat-icon>manage_accounts</mat-icon>Profile</button>
          <button mat-menu-item  (click)="logout()"><mat-icon>logout</mat-icon>Log Out</button>
        </mat-menu> 
      </div>  

      <ng-template #guest>
        <button mat-raised-button="primary" class="login" (click)="openDialog('login')"><mat-icon>login</mat-icon>Log In</button>
        <button mat-raised-button="primary" class="sign-up" (click)="openDialog('signup')"><mat-icon>app_registration-up</mat-icon>Sign Up</button>
      </ng-template>    

</mat-toolbar>


