.login,
.sign-up {
    //background-color: #192734;
    border-color: #192734;
    //color: aliceblue;
    //fill: #0079D3;
    border: 1px solid;
    border-radius: 4px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 3px 16px;
    opacity: 1;
    box-sizing: border-box;
}

.sign-up:hover,
.login:hover{
    color:#242526;
    opacity: 0.8;
    background-color: aquamarine;
}

.userdetails{    
    background-color: transparent;
    border-color: #0079D3;
    color: #0079D3;
    fill: #0079D3;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 3px 16px;
    opacity: 1;
    border: 0px;     
} 

.userdetails:hover{
    border: 1px solid;
}


.account-icon{
    border-radius: 4px;
    float: left;
    margin-right: 5px;
    max-height: 30px;
    max-width: 30px;
}

.toolbar-seprator {
    flex: 1 1 auto;
}

/**

mat-sidenav-container {
    height: 100%;
}

mat-toolbar {
    background: #2D333B;
    color: white;
}

mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #002b5c;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

.content {
    height: calc(100vh - 98px);
    margin: 16px;
    margin-left: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    color: azure;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;

    mat-icon {
        margin-right: 8px;
    }
}

.designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: lightgrey;
}
**/


