.post{
    --post-line-color: #ccc;    
    border: 1px solid #ccc;
<<<<<<< HEAD
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #242526;
=======
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: rgba(255,255,255,0.8);
>>>>>>> 16d04d84c7edae24a77f9e0157dea16273c2cad6
    color: #878A8C;
    position: relative;
    border-radius: 4px;
    padding:5px;
<<<<<<< HEAD
    /* new patch */
    display: flex;
    width: 80%;
    height:200px;

}

.vote-component {
    width: 10%;
=======
>>>>>>> 16d04d84c7edae24a77f9e0157dea16273c2cad6
}

.btnCommments{
    border-radius: 2px solid;
    color: #878A8C;
    opacity: 1;
}

.btnCommments:hover{
    opacity: 0.65;
    cursor: pointer;
}

.post-title{
    font-size: 28px;
    font-weight: bold;
    opacity: 1;
}

.posturl, .postname{    
<<<<<<< HEAD
    color: #B0B3B8;
}


.sub-text{
=======
    color: black;
}

.subreddit-text{
>>>>>>> 16d04d84c7edae24a77f9e0157dea16273c2cad6
    font-weight: bold;
}

.post-text{
    margin-top: 10px;
<<<<<<< HEAD
}

.col-md-11 {
    width: 90%;
}

=======
}
>>>>>>> 16d04d84c7edae24a77f9e0157dea16273c2cad6
