.post{
    --post-line-color: #ccc;    
    border: 1px solid #ccc;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #242526;
    color: #878A8C;
    position: relative;
    border-radius: 4px;
    padding:5px;
    /* new patch */
    display: flex;
<<<<<<< HEAD
    width: 100%;
=======
    width: 80%;
    height:200px;
>>>>>>> d6a5b3f (Add angular dialog)

}

.vote-component {
    width: 10%;
}

.btnCommments{
    border-radius: 2px solid;
    color: #878A8C;
    opacity: 1;
}

.btnCommments:hover{
    opacity: 0.65;
    cursor: pointer;
}

.post-title{
    font-size: 28px;
    font-weight: bold;
    opacity: 1;
}

.posturl, .postname{    
    color: #B0B3B8;
}


.sub-text{
    font-weight: bold;
}

.post-text{
    margin-top: 10px;
}

.col-md-11 {
    width: 90%;
<<<<<<< HEAD
}
=======
}

>>>>>>> d6a5b3f (Add angular dialog)
