<div class="row">
<mat-tab-group class="col-md-8" dynamicHeight>
  <br>
  <mat-tab>
    <ng-template mat-tab-label >
      <span class="post">
        <mat-icon>article</mat-icon>
        Post By You
      </span>
    </ng-template>
    <app-post-tile [posts]="posts"></app-post-tile> 
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="comment">
        <mat-icon>comment</mat-icon>
        Comments You Left
      </span>
    </ng-template>
    <app-comment-tile [comments]="comments"></app-comment-tile>  
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>  
      <span class="favorite"> 
        <mat-icon>format_list_bulleted</mat-icon>
        Marked Posts
      </span>
    </ng-template>
    <app-post-tile [posts]="myFavPosts"></app-post-tile> 
  </mat-tab>
  
  <mat-tab>  
    <ng-template mat-tab-label>  
      <span class="favorite"> 
        <mat-icon>subscriptions</mat-icon>
        subscriptions  
      </span>
    </ng-template>
    <app-sub-tile [favSubs]="mySubs"></app-sub-tile>
  </mat-tab>
</mat-tab-group>
<div class="col-md-2">
    <app-side-bar [username]="username"></app-side-bar>
    <app-sub-side-bar></app-sub-side-bar>
</div>
</div>
