
main{    
    padding : 5%;
    overflow: auto;
    position: top;
    bottom:0;
    left:0;
    right:0;
    margin: 10px;
}

.bottomStick{
    position:absolute; 
    bottom:0;
}

.bottomRelative{
    position:relative;
}


.drawer{
    height:100%;
}