<app-header class="fixed-header" 
(drawerToggleEvent)=setDrawerState($event)
(usernameEvent)=setUsername($event)>
</app-header>

<mat-drawer-container >
    <!-- side bar's list-->
    <mat-drawer class="shadow"  mode="side" opened>
            <mat-nav-list *ngIf = "!isDrawerOpened ; else anotherList">    
              <a  [routerLink]="''" mat-list-item >
                <button mat-mini-fab color="primary">
                  <mat-icon>home</mat-icon>
                </button>
              </a>
              <a [routerLink]="'list-sub'" mat-list-item>
                <button mat-mini-fab color="primary">
                    <mat-icon>subscriptions</mat-icon>
                </button>
              </a>

            </mat-nav-list>
            <mat-divider></mat-divider>

            <ng-template #anotherList id="other">
              <div class="longer-drawer">
                <mat-nav-list> 
                        <a [routerLink]="''"  mat-list-item> 
                            <button mat-raised-button>
                                <mat-icon>home</mat-icon>
                            </button>
                        </a>
                        
                        <mat-divider></mat-divider>
                        
                        <ng-container *ngIf="subs">
                            <h2 matSubheader>Subscriptions</h2>
                                <a mat-list-item *ngFor="let sub of subs"> 
                                        <p>{{sub.subname}}</p>
                                </a>
                        </ng-container>
    


                      <!-- This is where the bottom items reside.-->
                      <div [ngClass]='appropriateClass'> 
                        <a [routerLink]="['user-profile', this.user.username ]" mat-list-item>
                                <button mat-raised-button>
                                    <mat-icon>person</mat-icon>
                                </button>
                        </a>
                      
                     </div>
                    

                </mat-nav-list>
              </div>
            </ng-template>

    </mat-drawer>

    <mat-drawer-content>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-drawer-content>

</mat-drawer-container>
