<div dir="rtl">
  <button mat-mini-fab class="close-button" [mat-dialog-close]="true">
      <mat-icon class="close-icon">close</mat-icon>
  </button>
</div>


<h2 mat-dialog-title>Sign Up</h2>
<form flexLayout="column" [formGroup]="signupForm" (ngSubmit)="signup()">
  <div 
  fxLayout="column"
  fxLayout.lt-md="column"
  fxLayoutGap="20px"
  fxLayoutGap.lt-md="0px"
  >
    <!-- NAME -->
    <mat-form-field appearance="legacy" *ngIf="signupForm.contains('username')" >
      <mat-label>Full name</mat-label>
      <input matInput formControlName="username">
    </mat-form-field>

    <!-- EMAIL -->
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
      <mat-error *ngIf="signupForm.controls.email.errors?.required">
        Please specify an email address
      </mat-error>
      <mat-error *ngIf="signupForm.controls.email.errors?.email">
        Please Enter a valid email format
      </mat-error>
    </mat-form-field>

    <!-- PASSWORD -->
    <mat-form-field *ngIf="signupForm.contains('password')" @inflate>
      <mat-label>Password</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
      <mat-icon matSuffix (click)="hidePassword = !hidePassword">
        {{ hidePassword ? 'visibility_off' : 'visibility'}}
      </mat-icon>
      <mat-error *ngIf="signupForm.controls.password.errors?.required">
        A password is required
      </mat-error>
    </mat-form-field>
    <div dir="rtl" fxLayoutGap="20px">
      <button matSuffix mat-stroked-button color="primary" type="submit" [disabled]="!signupForm.valid" class="btn">
        SignUp
      </button>
    </div>
  </div> 
</form>


<!-- SIGN-IN PROVIDERS -->
<div fxLayout="column" fxLayoutAlign="center center">
  <p class="mat-small">Sign In With</p>
  <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
    <ng-container *ngFor="let p of providers">
    <a href="{{p.url}}">
    <mat-icon class="providers"
                [fontSet]="p.icon.split(':')[0]"  
                [fontIcon]="p.icon.split(':')[1]" 
                [ngStyle]="{ color: p.color }">   
      </mat-icon>
    </a>
    </ng-container>
  </div>
</div>