<button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>
<h2 mat-dialog-title>Sign Up</h2>
<form [formGroup]="signupForm" fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="5px" 
      (ngSubmit)="signup()">
  <!-- NAME -->
  <mat-form-field appearance="legacy" *ngIf="signupForm.contains('username')" @inflate>
    <mat-label>Full name</mat-label>
    <input matInput formControlName="username">
    <mat-error *ngIf="signupForm.controls.username.errors?.required">
      Please specify your name here
    </mat-error>
  </mat-form-field>

   <!-- EMAIL -->
   <mat-form-field appearance="legacy" *ngIf="signupForm.contains('email')" @inflate>
    <mat-label>Email</mat-label>
    <input matInput formControlName="email">
    <mat-error *ngIf="signupForm.controls.email.errors?.required">
      Please specify an email address
    </mat-error>
    <mat-error *ngIf="signupForm.controls.email.errors?.email">
      Ooops! it looks like this is not a valid email
    </mat-error>
  </mat-form-field>

  <!-- PASSWORD -->
  <mat-form-field appearance="legacy" *ngIf="signupForm.contains('password')" @inflate>
    <mat-label>Password</mat-label>
    <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
    <mat-icon matSuffix (click)="hidePassword = !hidePassword">
      {{ hidePassword ? 'visibility_off' : 'visibility'}}
    </mat-icon>
    <mat-error *ngIf="signupForm.controls.password.errors?.required">
      A password is required
    </mat-error>
  </mat-form-field>
  <div>
  <button mat-stroked-button color="primary" type="submit" [disabled]="!signupForm.valid" class="btn">
    SignUp
  </button>
  </div>
</form>
