mat-card {
    align-self: flex-start;
    width: 100%;

    border: 1px solid rgb(223, 203, 203);
}


mat-card:focus {
    background: rgb(131, 178, 207);
    color:#242527;
}

mat-card-actions{
    padding: 0;
}

img{
    left : 30px;
}