.sidebar{
    width: 312px;
    height: 100px;
    --post-line-color: #ccc;    
    border: 1px solid #ccc;
    overflow: hidden;
    color: #878A8C;
    position: relative;
    border-radius: 4px;
    padding:5px;
    margin-bottom: 20px;
    background-color: #242526;
}

.postBTN, 
.subBTN
{
    background-color: #0079D3;
    border-color: #0079D3;
    color: aliceblue;
    fill: #0079D3;
    border: 1px solid;
    border-radius: 4px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 3px 16px;    
    opacity: 1;
    width: 288px;
    height: 34px;
}

.subBTN{
    margin-top: 5px;
}

.subBTN:hover,
.postBTN:hover{
    background-color: rgb(161, 252, 222);
    color:#242526;
    opacity: 0.8;
}

.sidebar>ul>li{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #0e65a7;
}
