<div dir="rtl">
    <button mat-mini-fab color="accent" [mat-dialog-close]="true">
        <mat-icon class="close-icon">close</mat-icon>
    </button>
</div>

<h2 mat-dialog-title>Update Your Password</h2>
<form flexLayout="column" [formGroup]="passwordForm" (ngSubmit)="resetPassword()">
    <div 
    fxLayout="column"
    fxLayout.lt-md="column"
    fxLayoutGap="20px"
    fxLayoutGap.lt-md="0px">
        <!-- PASSWORD -->
        <mat-form-field >
          <mat-label>Old Password</mat-label>
          <input matInput [type]="hide.OldPassword ? 'password' : 'text'" formControlName="oldPassword">
          <mat-icon matSuffix (click)="hide.OldPassword = !hide.OldPassword">
            {{ hide.OldPassword ? 'visibility_off' : 'visibility'}}
          </mat-icon>
          <mat-error *ngIf="passwordForm.controls.oldPassword.errors?.required">
            A password is required
          </mat-error>
        </mat-form-field>

        <!-- NEW PASSWORD -->
        <mat-form-field>
            <mat-label>New Password</mat-label>
            <input matInput [type]="hide.NewPassword ? 'password' : 'text'" formControlName="newPassword">
            <mat-icon matSuffix (click)="hide.NewPassword = !hide.NewPassword">
              {{ hide.NewPassword ? 'visibility_off' : 'visibility'}}
            </mat-icon>
            <mat-error>
              A password is required
            </mat-error>
          </mat-form-field>
          
        <!-- CONFIRM NEW PASSWORD -->
        <mat-form-field>
            <mat-label>Confirm Your New Password</mat-label>
            <input matInput [type]="hide.NewPassword ? 'password' : 'text'" formControlName="confirmNewPassword">
            <mat-icon matSuffix (click)="hide.NewPassword = !hide.NewPassword">
              {{ hide.NewPassword ? 'visibility_off' : 'visibility'}}
            </mat-icon>
            <mat-error *ngIf="passwordForm.controls.confirmNewPassword.errors?.required">
              A password is required
            </mat-error>
        </mat-form-field>

        <div dir="rtl" fxLayoutGap="20px">
            <button matSuffix mat-raised-button color="primary" type="submit" [disabled]="!passwordForm.valid">
                Confirm
            </button>
        </div>
    </div> 
</form>
