<mat-sidenav-container class="h-screen w-screen">

    <!-- sude bar list-->
    <mat-sidenav #sidenav class="shadow border-0" fixedInViewport mode="side" opened>  
        
            <!-- logo and webname -->
            <button mat-mini-fab (click)="navigation.toggle()">
                <img alt="logo" src="assets/angular-logo-wave.png">
            </button>
        
        <mat-nav-list>
            <a mat-list-item>
                <button mat-icon-button>
                    <mat-icon color="grey" >home</mat-icon>
                </button>
            </a>
            <a mat-list-item>
                <button mat-icon-button>
                    <mat-icon>subscriptions</mat-icon>
                </button>
            </a>
    
            <!-- This is where the bottom items reside.-->
            <div class="absolute bottom-0 left-0"> 
                <a mat-list-item>
                    <button mat-icon-button>
                        <mat-icon>notifications</mat-icon>
                    </button>
                </a>
                <a mat-list-item>
                    <button mat-icon-button>
                        <mat-icon>settings</mat-icon>
                    </button>
                </a>
            </div>
        </mat-nav-list>
    </mat-sidenav>

    <!-- show the header and router-outlet-->
    <mat-sidenav-content>
        <mat-sidenav-container>
            <mat-sidenav 
            #navigation 
            class="shadow border-0"  
            fixedInViewport
            mode="side"  
            opened>
            </mat-sidenav>

            <mat-sidenav-content class="page-wrap">
                <app-header (sidenavToggle)= "sidenav.toggle()" ></app-header>
                <main>
                    <app-side-bar></app-side-bar>
                </main>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </mat-sidenav-content>

</mat-sidenav-container>