mat-sidenav-container, 
mat-sidenav-contnent,
mat-sidenav{
    height:100%;
}

mat-sidenav{
    width: 100px;
}

main{
    padding : 5%;
}

/**
.web-name{        
    font-weight: 700;
    height: 60px;
    width: 50px;    
    color :#c51f5e
}
**/