
<div class="row">

  <!-- 
    Update user personal information
  -->
  <mat-card class="col-md-8">
    <form (ngSubmit)="update()">

      <!-- User name -->
      <div  fxLayout="column" fxLayoutAlign="space-between start">
        <mat-form-field appearance="outline">
          <mat-label>User Name</mat-label>
          <input 
          matInput 
          type="text" 
          [(ngModel)]="user.username"
          [ngModelOptions]="{standalone: true}"
          readonly
          >
        </mat-form-field>

        <!-- about me-->
        <mat-form-field appearance="outline">
          <mat-label>About Me</mat-label>
          <textarea
          matInput 
          cdkTextareaAutosize
          cdkAutosizeMinRows="4"
          type="text" 
          placeholder="Write Something About Yourself"
          [(ngModel)]="user.aboutMe"
          [ngModelOptions]="{standalone: true}"
          ></textarea>
        </mat-form-field>
      </div>
      </form>

      <button mat-stroked-button color="warn" (click)="openDialog()">Reset The Password</button>

      <!-- confirm update-button -->
      <div fxLayout="column" fxLayoutAlign="end end" >
        <button mat-raised-button color="primary" type="submit" (click)="update()"><mat-icon>update</mat-icon>Update</button>
      </div>
  </mat-card>

  <!-- 
    avatar 
    and avatar-uploading 
  -->
  <div class="col-md-2">
    <h2 class="text-center">Avatar</h2>
    <label class="hoverable">
      <img [src]="imgLocation" alt="avatar" />
      
      <div class="hover-icon">

        <button mat-raised-button color="primary" [matMenuTriggerFor]="userMenu" #menuTrigger="matMenuTrigger">
          <mat-icon>edit</mat-icon>
        </button>
        
        <mat-menu #userMenu="matMenu">

          <button mat-menu-item (click)=uploader.click()>
            <mat-icon>upload</mat-icon>Upload Avatar
          </button>
          
          <button mat-menu-item><mat-icon>remove</mat-icon>Remove Avatar</button>
        
        </mat-menu> 
      
      </div>
      
      <div class="background"></div>
    </label>
      <input id="fileInput" name="file" #uploader type="file" (change)="onSelectedFile($event)" multiple />
  </div>
</div>




