@import '~@angular/material/theming';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

//import our custom theme                
@import "./theme.scss";     


@import '~@angular/cdk/overlay-prebuilt.css';
//@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

// import custom component themes         
@import "./custom-component-themes.scss";


// Override typography for all Global variable Angular Material, including mat-base-typography and all components.
@include angular-material-typography($typography);
@include angular-material-theme($dark-theme);
@include custom-components-theme($dark-theme); 


.light-theme{
    @include angular-material-theme($light-theme);
    @include custom-components-theme($light-theme); 

}



/* You can add global styles to this file, and also import other style files */
input.ng-invalid.ng-touched {}


html {} 

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin-top:63px;
}


/**
  * close-icon for rendering dialog's close button
  */ 
.close-icon {
    transition: 1s ease-in-out;
}
  
.close-icon:hover {
    transform: rotate(180deg);
}