@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/**
https://stackoverflow.com/questions/44163721/modal-dialog-is-opening-at-the-bottom-of-the-screen-and-not-behaving-properly
*/

/* You can add global styles to this file, and also import other style files */
input.ng-invalid.ng-touched {
    border: 1px solid red;
  }
  
html {
    padding: 0px;
    height: 100%;
} 

body {
    margin-top:63px;
    height: 100%;
    background-color: #18191A;
    color : #E4E6EB;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.login,
.sign-up {
    background-color: #0079D3;
    border-color: #0079D3;
    color: aliceblue;
    fill: #0079D3;
    border: 1px solid;
    border-radius: 4px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 3px 16px;
    opacity: 1;
    box-sizing: border-box;
    
    /** Position Start from Right Side**/
    float: right;
    /** Distance btw login and sign-up **/
    margin-right: 5px;  
}

/**
https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/
 */
.custom-dialogconfig .mat-dialog-container{

}
