
// ? Importing `Work Sans` font for headings, you can change this if you want
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap");


/**
  * mat-palette( color , brightness , foreground , background)
  */


// dark-theme
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: (
  primary: $dark-primary,
  accent: $dark-accent,
  warn: $dark-warn,
  foreground: $mat-dark-theme-foreground,
  background: $mat-dark-theme-background,
);

// light-theme
$light-primary: mat-palette($mat-blue);
$light-accent: mat-palette($mat-pink, A200, A100, A400);
$light-warn:    mat-palette($mat-pink);
$light-theme: (
  primary: $light-primary,
  accent: $light-accent,
  warn: $light-warn,
  foreground: $mat-light-theme-foreground,
  background: $mat-light-theme-background,
);


$heading-font-family: "'Work Sans', sans-serif";
$typography: mat-typography-config(
  $display-4: mat-typography-level(112px, $font-family: $heading-font-family),
  $display-3: mat-typography-level(56px, $font-family: $heading-font-family),
  $display-2: mat-typography-level(45px, $font-family: $heading-font-family),
  $display-1: mat-typography-level(34px, $font-family: $heading-font-family),
  $headline: mat-typography-level(24px, $font-family: $heading-font-family),
  $title: mat-typography-level(20px, $font-family: $heading-font-family),
);
