<div class="row tiles">
  <div class="portal-outlets col-md-9">
    <div class="tabs">
      <button mat-button><mat-icon>autorenew</mat-icon>NEW</button>
      <button mat-button><mat-icon>local_fire_department</mat-icon>HOT</button>
    </div>
    <div class="protal tab-content ">
    </div>
  </div>
    <div class="col-md-3">
      <!-- Side Bar-->
      <app-side-bar></app-side-bar>
      <app-sub-side-bar></app-sub-side-bar>
    </div>
</div>

<!--
<div class="col-md-9">
  <app-post-tile [posts]="posts"></app-post-tile>
</div>
-->