<div class="row">
  <mat-tab-group class="col-md-8">
    <mat-tab>
      <ng-template mat-tab-label >
        <span class="new">
          <mat-icon>autorenew</mat-icon>
          NEW
        </span>
      </ng-template>
      <app-post-tile [posts]="posts"></app-post-tile> 
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="hot">
          <mat-icon>local_fire_department</mat-icon>
          HOT
        </span>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
  <div class="col-md-3">
    <!-- Side Bar-->
    <app-side-bar></app-side-bar>
    <app-sub-side-bar></app-sub-side-bar>
  </div>
</div>
  
