<div class="comment-thread" *ngFor="let comment of comments">
   <!-- Comment 1 start -->
   <div class="comment" id="{{comment.commentId}}" >
     <a href="/view-post/{{postId}}#{{comment.commentId}}" class="comment-border-link"></a>
     <div class="comment-heading">
        <div class="comment-info">
         <img class="cat-img" mat-card-avatar src="assets/github-cat.jpg"  alt="cat" />
         <span class="comment-info">{{comment.username}} - {{comment.duration}} </span>
        </div>
      </div>
      
      <div class="comment-body">
        <p> {{comment.text}}</p>
        <button  mat-icon-button (click)="toggle()">
          <mat-icon>reply</mat-icon>
        </button>
      </div>
      <form [formGroup]="commentForm"  
          *ngIf="isOpened" 
          (ngSubmit)="postComment(comment.commentId)" >
          <mat-form-field  [style.width.%]="100" appearance="fill">
            <textarea matInput 
            cdkTextareaAutosize
            placeholder="Reply ..." 
            formControlName="text"
            required></textarea>
            <button mat-icon-button matSuffix color="accent" type="submit"  [disabled]="!commentForm.valid"><mat-icon>comment</mat-icon></button>
          </mat-form-field>
        </form>
        <div class="replies">
          <app-comment-tile *ngIf="comment.childComments" [comments]="comment.childComments" [postId]="comment.postId"></app-comment-tile>
        </div>
    </div>
</div>