/*
.comment-cards{
    margin-bottom: 16px;
    background-color: #22272E;
    color: hsl(180, 77%, 40%);
    border-radius: 4px;
    padding:5px;
    //new patch 
    position:relative;
    width: 80%;
    left: 17px;
}

.mat-card{
  box-shadow: none;
  overflow: hidden;
}
.mat-card-subtitle {
    margin-bottom: 0;
}
.comment-box {
   padding-left: 57px;
   background-color: #22272E;
}

.comment-header {
    display: flex;
    align-items: center;
}
.border-box {
    width: 1px;
    position: absolute;
    height: 100%;
    top: 40px;
    left: 21px;
    background: #fff;
}



.example-header-image {
    background-image: url('src\assets\github-cat.jpg');
    background-size: cover;
}
.mat-card-avatar {
    width: 35px;
    height: 35px;
}

*/

.m-0 {
    margin: 0;
}
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* Comment */

.comment {
    position: relative;
    margin: 20px auto;
}
.comment-heading {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 14px;

}

.replies {
    margin-left: 20px;
}

/* Adjustments for the comment border links */
.comment-border-link {
    display: block;
    position: absolute;
    top: 43px;
    left: 29px;
    width: 4px;
    height: calc(100% - 50px);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    
    background-color: rgb(182, 225, 233);
    background-clip: padding-box;
}
.comment-border-link:hover {
    background-color: red;
}

.comment-body {
    padding: 0 20px;
    padding-left: 70px;
}
.replies {
    margin-left: 28px;
}

.cat-img {
    width: 35px;
    height: 35px;
}

.comment-info {
    padding-left: 15px;
}

.mat-form-field {
    margin-left: 50px;
    padding-right: 20%;
}
